In [1]:
#two loops
#while
#for

#while condition:
    statement
    to
    execute

In [4]:
x=0

In [5]:
while x<10:
    print(x)
    x+=1

0
1
2
3
4
5
6
7
8
9

In [8]:
x=2
while x<10:
    print(x)
    x+=1

2
3
4
5
6
7
8
9

In [9]:
#conditions in while loop are break and continue

In [18]:
i=0
while i<10:
    i+=1
    if i==5:
        break
    print(i)

1
2
3
4

In [19]:
i=0
while i<10:
    i+=1
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [26]:
x=0
y=20
while x<10 and y>10:
    x+=1
    y-=1
    print(x,y)

1 19
2 18
3 17
4 16
5 15
6 14
7 13
8 12
9 11
10 10

#FOR LOOP 
note:This for loop will be used for only set of data types like str, list, set, tuple, dict.

In [22]:
l='a b c d e'.split()

In [23]:
l

['a', 'b', 'c', 'd', 'e']

In [25]:
for x in l:
    print(x)

a
b
c
d
e

In [62]:
l=[24,101,-36,76, 0,99,-5,95,109,95.1,]

In [63]:
for x in l:
    if x>=0 and x<=35:
        print(x, "Failed")
    elif x<95:
        print(x, "Passed")
    elif x<=100:
        print(x, "Passed with dist")
    else:
        print(x, "marks invalid")

24 Failed
101 marks invalid
-36 Passed
76 Passed
0 Failed
99 Passed with dist
-5 Passed
95 Passed with dist
109 marks invalid
95.1 Passed with dist

In [59]:
for x in l:
    if x>=0 and x<=35:
        print(x, "Failed")
    elif x>35 and x<95:
        print(x, "Passed")
    elif x>=95 and x<=100:
        print(x, "Passed with dist")
    else:
        print(x, "marks invalid")

24 Failed
101 marks invalid
-36 marks invalid
76 Passed
0 Failed
99 Passed with dist
-5 marks invalid
95 Passed with dist
109 marks invalid
95.1 Passed with dist

In [64]:
d={2:'amr',3:"nbnn",4:763}

In [65]:
d.values()

dict_values(['amr', 'nbnn', 763])

In [66]:
d.keys()

dict_keys([2, 3, 4])

In [67]:
d.items()

dict_items([(2, 'amr'), (3, 'nbnn'), (4, 763)])

In [87]:
for x in d:
    print(x)

2
3
4

Format function is used to add something

In [74]:
name="ram"
age = 23

In [77]:
'My name is '+name + 'and my age is '+ str(age)

'My name is ramand my age is 23'

In [78]:
"my name is {} and my age is {}".format(name,age)

'my name is ram and my age is 23'

In [79]:
"my name is {n} and my age is {a} {a}bguyb {n}".format(n=name,a=age)

'my name is ram and my age is 23 23bguyb ram'

In [80]:
#built in function range

In [81]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [83]:
for x in range(10):
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

# functions
#def my_fync(arg1, arg2,....)
    statements
    to
    execute

In [90]:
def greet():
    print('welocome')

In [91]:
greet()

welocome

In [92]:
def greet(name):
    print('welcome '+name)

In [93]:
greet("Ram")

welcome Ram

In [94]:
def info(name, age):
    print('name: {}, age: {}'.format(name,age))

In [95]:
info("ram",23)

name: ram, age: 23

In [97]:
def add(a=0,b=0,c=0,d=0,e=0):
    print(a+b+c+d+e)

In [98]:
add(1,2,3)

6

In [99]:
add(b=1,d=2,e=3)

6

In [101]:
x=add(1,2,e=3)

6

In [102]:
x

In [103]:
def adddd(a=0,b=0,c=0,d=0,e=0):
    s=(a+b+c+d+e)
    return s

In [104]:
x=adddd(1,2,3)

In [105]:
x

6

In [113]:
def result(x):
    if x>=0 and x<=35:
        return(x, "Failed")
    elif x>35 and x<95:
        return(x, "Passed")
    elif x>=95 and x<=100:
        return(x, "Passed with dist")
    else:
        return(x, "marks invalid")

In [114]:
result(23)

(23, 'Failed')

In [115]:
result(100.4)

(100.4, 'marks invalid')