In [62]:
import pandas as pd
import numpy as np

In [2]:
#two kind of data types series & dataframe

In [3]:
#series is one dimensional
#dataframe is two dimensional

In [6]:
l=['a','b','c']
a=np.array([1,2,3])
d={1:'a',2:'b',3:'c'}

In [8]:
#a = data type , l=indexing
pd.Series(a,l)

a    1
b    2
c    3
dtype: int32

In [9]:
pd.Series(d)

1    a
2    b
3    c
dtype: object

In [12]:
s1=pd.Series([1,2,3,4], 'a b c d'.split())
s2=pd.Series([1,2,3,4], 'a b d e'.split())

In [13]:
s1

a    1
b    2
c    3
d    4
dtype: int64

In [14]:
s2

a    1
b    2
d    3
e    4
dtype: int64

In [15]:
s1['c']

3

In [16]:
s1+s2

a    2.0
b    4.0
c    NaN
d    7.0
e    NaN
dtype: float64

In [17]:
s1 * s2

a     1.0
b     4.0
c     NaN
d    12.0
e     NaN
dtype: float64

In [18]:
s1 / s2

a    1.000000
b    1.000000
c         NaN
d    1.333333
e         NaN
dtype: float64

In [20]:
df=pd.DataFrame(np.random.randn(5,4), 'a b c d e'.split(), 'w x y z'.split())

In [21]:
df

          w         x         y         z
a  1.495631 -1.725525 -0.077483 -0.554730
b -0.383867  1.162785  0.785467  0.014377
c  0.006708 -0.261169 -0.405134  0.332447
d -0.177891  0.524156  1.677554  0.170756
e -0.545520  0.469803  0.328984  0.230568

In [22]:
df['w']

a    1.495631
b   -0.383867
c    0.006708
d   -0.177891
e   -0.545520
Name: w, dtype: float64

In [23]:
type(df)

pandas.core.frame.DataFrame

In [24]:
type(df['w'])

pandas.core.series.Series

In [25]:
df[['w','y']]

          w         y
a  1.495631 -0.077483
b -0.383867  0.785467
c  0.006708 -0.405134
d -0.177891  1.677554
e -0.545520  0.328984

In [27]:
#dont use this method
df.w

a    1.495631
b   -0.383867
c    0.006708
d   -0.177891
e   -0.545520
Name: w, dtype: float64

In [28]:
df

          w         x         y         z
a  1.495631 -1.725525 -0.077483 -0.554730
b -0.383867  1.162785  0.785467  0.014377
c  0.006708 -0.261169 -0.405134  0.332447
d -0.177891  0.524156  1.677554  0.170756
e -0.545520  0.469803  0.328984  0.230568

In [29]:
df['new'] = [1,2,3,4,5]

In [30]:
df

          w         x         y         z  new
a  1.495631 -1.725525 -0.077483 -0.554730    1
b -0.383867  1.162785  0.785467  0.014377    2
c  0.006708 -0.261169 -0.405134  0.332447    3
d -0.177891  0.524156  1.677554  0.170756    4
e -0.545520  0.469803  0.328984  0.230568    5

In [32]:
df['new'] = df['w']+df['x']

In [33]:
df

          w         x         y         z       new
a  1.495631 -1.725525 -0.077483 -0.554730 -0.229894
b -0.383867  1.162785  0.785467  0.014377  0.778917
c  0.006708 -0.261169 -0.405134  0.332447 -0.254461
d -0.177891  0.524156  1.677554  0.170756  0.346265
e -0.545520  0.469803  0.328984  0.230568 -0.075718

In [34]:
#to delete to rows or column use drop
df.drop('new', axis=1)

          w         x         y         z
a  1.495631 -1.725525 -0.077483 -0.554730
b -0.383867  1.162785  0.785467  0.014377
c  0.006708 -0.261169 -0.405134  0.332447
d -0.177891  0.524156  1.677554  0.170756
e -0.545520  0.469803  0.328984  0.230568

In [35]:
df

          w         x         y         z       new
a  1.495631 -1.725525 -0.077483 -0.554730 -0.229894
b -0.383867  1.162785  0.785467  0.014377  0.778917
c  0.006708 -0.261169 -0.405134  0.332447 -0.254461
d -0.177891  0.524156  1.677554  0.170756  0.346265
e -0.545520  0.469803  0.328984  0.230568 -0.075718

In [36]:
df.drop('new', axis=1, inplace=True)

In [37]:
df

          w         x         y         z
a  1.495631 -1.725525 -0.077483 -0.554730
b -0.383867  1.162785  0.785467  0.014377
c  0.006708 -0.261169 -0.405134  0.332447
d -0.177891  0.524156  1.677554  0.170756
e -0.545520  0.469803  0.328984  0.230568

In [38]:
df.drop('e')

          w         x         y         z
a  1.495631 -1.725525 -0.077483 -0.554730
b -0.383867  1.162785  0.785467  0.014377
c  0.006708 -0.261169 -0.405134  0.332447
d -0.177891  0.524156  1.677554  0.170756

In [39]:
df

          w         x         y         z
a  1.495631 -1.725525 -0.077483 -0.554730
b -0.383867  1.162785  0.785467  0.014377
c  0.006708 -0.261169 -0.405134  0.332447
d -0.177891  0.524156  1.677554  0.170756
e -0.545520  0.469803  0.328984  0.230568

In [40]:
df.loc['a']

w    1.495631
x   -1.725525
y   -0.077483
z   -0.554730
Name: a, dtype: float64

In [42]:
df.loc[['c', 'e', 'd']]

          w         x         y         z
c  0.006708 -0.261169 -0.405134  0.332447
e -0.545520  0.469803  0.328984  0.230568
d -0.177891  0.524156  1.677554  0.170756

In [44]:
df.iloc[2]

w    0.006708
x   -0.261169
y   -0.405134
z    0.332447
Name: c, dtype: float64

In [45]:
df.iloc[2:5]

          w         x         y         z
c  0.006708 -0.261169 -0.405134  0.332447
d -0.177891  0.524156  1.677554  0.170756
e -0.545520  0.469803  0.328984  0.230568

In [47]:
df

          w         x         y         z
a  1.495631 -1.725525 -0.077483 -0.554730
b -0.383867  1.162785  0.785467  0.014377
c  0.006708 -0.261169 -0.405134  0.332447
d -0.177891  0.524156  1.677554  0.170756
e -0.545520  0.469803  0.328984  0.230568

In [48]:
df.iloc[2,1]

-0.26116904293478854

In [49]:
df.iloc[2:5, 1:4]

          x         y         z
c -0.261169 -0.405134  0.332447
d  0.524156  1.677554  0.170756
e  0.469803  0.328984  0.230568

In [50]:
df

          w         x         y         z
a  1.495631 -1.725525 -0.077483 -0.554730
b -0.383867  1.162785  0.785467  0.014377
c  0.006708 -0.261169 -0.405134  0.332447
d -0.177891  0.524156  1.677554  0.170756
e -0.545520  0.469803  0.328984  0.230568

In [51]:
df.loc['a', 'w']

1.4956308469171762

In [52]:
df.loc[['a', 'e', 'c'], ['y','x']]

          y         x
a -0.077483 -1.725525
e  0.328984  0.469803
c -0.405134 -0.261169

In [53]:
df=df[['z', 'y', 'x', 'w']]

In [54]:
df

          z         y         x         w
a -0.554730 -0.077483 -1.725525  1.495631
b  0.014377  0.785467  1.162785 -0.383867
c  0.332447 -0.405134 -0.261169  0.006708
d  0.170756  1.677554  0.524156 -0.177891
e  0.230568  0.328984  0.469803 -0.545520

In [55]:
df>0

       z      y      x      w
a  False  False  False   True
b   True   True   True  False
c   True  False  False   True
d   True   True   True  False
e   True   True   True  False

In [56]:
df[df>0]

          z         y         x         w
a       NaN       NaN       NaN  1.495631
b  0.014377  0.785467  1.162785       NaN
c  0.332447       NaN       NaN  0.006708
d  0.170756  1.677554  0.524156       NaN
e  0.230568  0.328984  0.469803       NaN

In [57]:
df['w']>0

a     True
b    False
c     True
d    False
e    False
Name: w, dtype: bool

In [58]:
df=pd.DataFrame(np.random.randn(5,4), 'a b c d e'.split(), 'w x y z'.split())
df

          w         x         y         z
a  0.106718 -0.296727  0.464873 -1.017792
b -0.680213 -0.126140 -1.015316  0.895427
c -1.387639 -0.233894 -0.153587  0.696555
d -0.686183  0.535113  0.890883  0.279865
e  1.365036  0.598956 -0.456422  1.185706

In [59]:
df[df['z']>0]

          w         x         y         z
b -0.680213 -0.126140 -1.015316  0.895427
c -1.387639 -0.233894 -0.153587  0.696555
d -0.686183  0.535113  0.890883  0.279865
e  1.365036  0.598956 -0.456422  1.185706

In [61]:
df[df['z']>0]['y']

b   -1.015316
c   -0.153587
d    0.890883
e   -0.456422
Name: y, dtype: float64